@import './../../../../Colors';

.home-title {
  font-size: 72px;
  font-weight: 200;

  .subtitle {
    font-size: 24px;
    font-weight: 700;
    color: $color5;
    text-transform: uppercase;
    border-left: 4px solid $color5;
    padding-left: 6px;
    margin-left: 6px;
  }
}
