@import './../../../../Colors';

.dg-sidebar {
  position: relative;
  width: 560px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  &.region-bastion {
    background-image: url(./imgs/bg-bastion.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.region-maldraxxus {
    background-image: url(./imgs/bg-maldraxxus.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.region-ardenweald {
    background-image: url(./imgs/bg-ardenweald.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.region-revendreth {
    background-image: url(./imgs/bg-revendreth.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;

    a {
      color: #ffffff;
      display: flex;
      align-items: center;
      &:hover {
        color: $color5;
      }
    }
    .icon-chevron-left {
      font-size: 23px;
      margin-right: 14px;
    }
    .label {
      color: $color5;
      font-weight: 600;
      .value {
        color: #ffffff;
      }
    }
  }
  .title {
    padding: 36px;
    margin-top: 50px;
    font-size: 52px;
    font-weight: 200;

    .region {
      margin-left: 3px;
      font-size: 20px;
      font-weight: 700;
      color: $color5;
      text-transform: uppercase;
    }
  }
  .video-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0px;
    #youtube_player {
      @media (min-width: 1500px) {
        & {
          width: 560px;
          height: 315px;
        }
      }
      display: block;
      margin-left: auto;
      margin-right: auto;
      background: #141414;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      box-sizing: border-box;
    }
  }
}

@media (min-width: 992px) and (max-width: 1499px) {
  .dg-sidebar {
    width: 420px;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .dg-sidebar {
    width: 300px;
    height: 100%;
  }
}
@media (max-width: 760px) {
  .dg-sidebar {
    width: 100%;
    flex: 1 1 auto;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px;

      .icon-chevron-left {
        font-size: 12px;
        margin-right: 8px;
      }
    }
    .title {
      text-align: center;
      font-size: 28px;
      font-weight: 200;
      margin-top: 0;
      padding: 12px;
      .region {
        margin-left: 3px;
        font-size: 12px;
        font-weight: 700;
        color: $color5;
        text-transform: uppercase;
      }
    }
    .video-wrapper {
      width: 100%;
      bottom: unset;
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;

      #youtube_player {
        background: #141414;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
