@import './../../../../Colors';

.dg-group-creature {
  flex: 1 1 auto;
  margin-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 14px;
  align-items: center;

  .watch-at {
    .timer {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 8px;

      span {
        display: block;
        font-size: 14px;
        color: $color5;
      }
    }
    .action {
      transition: all ease-out 100ms;
      color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      &:hover {
        color: rgba(255, 255, 255, 1);
      }

      i {
        font-size: 11px;
      }
    }
  }
  .creatures {
    display: flex;
    flex-flow: column;
    margin-left: 30px;
  }
}
