@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import './Colors';

html,
body {
  background-color: $color0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #ffffff;
}
